
<div class="innerCell"><a class="linkThumb"></a>
  <div class="threadStats">R: <span class='labelReplies'></span> / I: <span class='labelImages'></span> / P: <span class='labelPage'></span><span class="lockIndicator" title="Locked"></span><span class="pinIndicator" title="Sticky"></span><span class="cyclicIndicator" title="Cyclical Thread"></span><span class="bumpLockIndicator" title="Bumplocked"></span></div>
  <div class="content">
    <div class="labelSubject"></div>
    <div class="divMessage"></div>
  </div>
</div>