
<div class="innerOP">
  <div class="innerPost">
    <div class="panelUploads"></div>
    <div class="postTitle"><span class="labelSubject"></span><span class="linkName"></span><img class="imgFlag"/><span class="labelRole"></span><span class="spanId"><span class="labelId"></span></span>
      <div class="indicators"><span class="lockIndicator" title="Locked">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
            <path d="M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10 0v-4c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-8z"></path>
          </svg></span><span class="pinIndicator" title="Sticky">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 160 202">
            <path d="M149 105c-7-8-15-12-24-12V31c4 0 9-1 12-5 4-3 5-6 5-10 0-5-1-8-5-11-3-3-8-5-12-5H36c-5 0-9 2-13 5-3 3-5 6-5 11 0 4 2 7 5 10 4 4 8 5 13 5v62c-10 0-18 4-25 12S0 122 0 132l3 6 6 2h56l11 59c0 2 2 3 4 3l3-1 2-2 7-59h59l7-2 2-6c0-10-3-19-11-27z"></path>
          </svg></span><span class="cyclicIndicator" title="Cyclical Thread"></span><span class="bumpLockIndicator" title="Bumplocked"></span><span class="archiveIndicator" title="Archived"></span></div><span class="labelCreated"></span><a class="linkQuote"></a><a class="linkReply btnLink">Reply</a><a class="linkEdit btnLink">Edit</a><a class="linkSelf"></a>
      <div class="panelIp">
        <div class="panelRange">Broad range (1/2 octets):<span class="labelBroadRange"></span><br/>Narrow range (3/4 octets):<span class="labelNarrowRange"></span><br/>IP:<span class="labelIp"></span></div>
      </div>
      <div class="panelBacklinks"></div>
      <input class="deletionCheckBox" type="checkbox"/>
    </div>
    <div class="postContent">
      <div class="divMessage"></div>
      <p class="contentOmissionIndicator"><a class="linkFullText btnLink">View Full Message</a></p>
      <p class="divBanMessage"></p>
      <p class="labelLastEdit"></p>
      <p class="labelOmission"></p>
    </div>
  </div>
</div>
<div class="divPosts"></div>