
<div class="innerPost">
  <div class="postTitle"><span class="labelSubject"></span><span class="linkName"></span><img class="imgFlag"/><span class="labelRole"></span><span class="spanId"><span class="labelId"></span></span><span class="labelCreated"></span><a class="linkQuote"></a><a class="linkEdit btnLink">Edit</a><a class="linkSelf"></a>
    <div class="panelIp">
      <div class="panelRange">Broad range (1/2 octets):<span class="labelBroadRange"></span><br/>Narrow range (3/4 octets):<span class="labelNarrowRange"></span><br/>IP:<span class="labelIp"></span></div>
    </div>
    <div class="panelBacklinks"></div>
    <input class="deletionCheckBox" type="checkbox"/>
  </div>
  <div class="panelUploads"></div>
  <div class="postContent">
    <div class="divMessage"></div>
    <p class="contentOmissionIndicator"><a class="linkFullText btnLink">View Full Message</a></p>
    <p class="divBanMessage"></p>
    <p class="labelLastEdit"></p>
    <p class="labelOmission"></p>
  </div>
</div>