<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/.static/favicon.png" rel="icon">
    <meta name="viewport" content="width=device-width">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="/.static/css/main.css">
    <link href="/.static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <section><span><a href="/">Home</a></span><span>
          <select id="theme">
            <option value="inch">Indiachan</option>
            <option value="simplechan">Simplechan</option>
            <option value="penumbra">Penumbra</option>
            <option value="yotsuba">Yotsuba</option>
          </select></span></section>
      <section id="navBoards">
        <select id="selectBoard">
          <option value="a">/a/ - Anime &amp; Manga</option>
          <option value="a">/b/ - Bakchodi</option>
          <option value="a">/g/ - Technology</option>
          <option value="a">/pol/ - Politically Incorrect</option>
          <option value="a">/meta/ - Indiachan Discussion</option>
        </select><span><a href="/a">a</a></span><span><a href="/b">b</a></span><span><a href="/g">g</a></span><span><a href="/pol">pol</a></span><span><a href="/meta">meta</a></span>
      </section>
      <script>!function(){var e=document,n=localStorage,t=e.querySelector("#theme");function a(a){a||(a=n.SITE_THEME||"yotsuba"),e.documentElement.className="theme-"+a,t.value=a}t.onchange=function(){a(t.value);n.SITE_THEME=t.value;onresize&&onresize()},a()}();</script>
    </nav>
    <main id="indexContent">
      <div id="siteLogo"></div>
      <h1>Indiachan
        <div class="trifag">
          <div class="white"></div>
        </div>
      </h1>
      <p>
        Indiachan is a simple imageboard where anyone
        can post comments and share images about any topic.
        You do not need to register to post.
        Indiachan does not use cookies or third party ads.
        See <a href="/.static/globalRules.html">site rules</a> to learn more.
      </p>
      <div class="indexBlock" id="indexBoards"><a href="/a">/a/
          <div class="labelPreview">Anime &amp; Manga</div></a><a href="/b">/b/
          <div class="labelPreview">Bakchodi</div></a><a href="/g">/g/
          <div class="labelPreview">Technology</div></a><a href="/pol">/pol/
          <div class="labelPreview">Politically Incorrect</div></a><a href="/meta">/meta/
          <div class="labelPreview">Indiachan Discussion</div></a>
      </div>
      <div class="indexBlock" id="indexBlocks">
        <div>
          <div id="divLatestImages"></div>
        </div>
        <div>
          <div id="divLatestPosts"></div>
        </div>
        <div class="hidden">
          <div id="divBoards"></div>
          <div id="linkEngine"></div>
          <div id="divStats">
            <div id="labelTotalPosts"></div>
            <div id="labelTotalPPH"></div>
            <div id="labelTotalIps"></div>
            <div id="labelTotalBoards"></div>
            <div id="labelTotalFiles"></div>
            <div id="labelTotalSize"></div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div id="footer-inner"><a href="https://irc.indiachan.com" target="_blank">IRC</a><a href="mailto:contact@indiachan.com">contact@indiachan.com</a><a href="https://gitlab.com/rusty02/indiachan" target="_blank">Source</a></div>
    </footer>
  </body>
</html>